---
import Page from '../layouts/Page.astro';
---

<Page>
	<h1>Welcome to My Astro Page</h1>
	<p>This is a simple example of an Astro page using a custom layout.</p>
	<p>Feel free to explore and modify the content!</p>
</Page>
